@import '../../theme/mixins';

$Paint-backgroundColor: #ffffff;
$Paint-backgroundColorSection: #F1F1F3;
$Paint-header-height: 6%;
$Paint-body-height: 94%;
$Paint-body-width: 85%;
$Paint-sidebar-width: 15%;


.Paint {
  width: 100%;
  height: 100%;
  @include flex-content(column, flex-start, flex-start);

  &__sidebar,
  &__header {
    background-color: $Paint-backgroundColorSection;
  }

  &__header,
  &__body {
    width: 100%;
  }


  &__canvas,
  &__sidebar {
    height: 100%;
  }

  &__header {
    height: $Paint-header-height;
    min-height: 60px;
    padding-right: $Paint-sidebar-width;
  }

  &__body {
    height: $Paint-body-height;
    width: 100%;
    @include flex-content(row, flex-start, flex-start);
  }

  &__canvas {
    width: $Paint-body-width;
    overflow: auto;
    @include flex-content(row, center, center);

    .Canvas {
      background-color: $Paint-backgroundColor;
    }
  }

  &__sidebar {
    width: $Paint-sidebar-width;
    min-width: 250px;
    max-width: 350px;
    padding: 1%;

  }


}
