@import './theme';

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  height: 100%;
  margin: 0;
  background-color: $c-secondary;
  color: $c-text;
}

#root {
  width: 100%;
  height: 100%;
}

@include respond-to(large) {

  body,
  html {
    font-size: 68.5%;
  }
}

@include respond-to(extra-large) {

  body,
  html {
    font-size: 130%;
  }
}
