@import './theme';

html {
  height: 100%;

}

body {
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  padding: 10px;
  background-color: #e6e6e6;
  height: 100%;
  color: #5b5b5b;
}
